Repository cards-against-stupidity/cards-against-stupidity, pull requests merged in 2020-04, with the labels that each got.

#31 Card Addition to Deck and Test Suite
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/DeckController.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/DeckControllerTests.java
Labels: back end crud, enhancement

#35 Topic controller tests
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/TopicController.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/TopicControllerTests.java
Labels: back end crud, enhancement

#37 Card controller tests
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/CardController.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/CardControllerTests.java
Labels: back end crud, enhancement

#38 0401 responsive design aks
  backend/.classpath
  backend/.project
  backend/.settings/org.eclipse.buildship.core.prefs
  backend/bin/main/application.properties
  frontend/src/assets/style.css
  frontend/study-view.html
Labels: frontend

#43 Builder scripts
  frontend/src/assets/js/card-creator.js
  frontend/src/assets/js/topic-creator.js
Labels: enhancement, frontend

#44 0402 study mode build
  frontend/sketch.html
  frontend/src/assets/style.css
  frontend/study-view.html
Labels: frontend, study mode

#46 0402 study mode build
  frontend/src/assets/js/sketch1.js
  frontend/src/assets/style.css
  frontend/study-view.html
Labels: frontend

#48 Json Fixes
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Deck.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
Labels: back end crud, bug, enhancement

#49 Backend
  backend/build.gradle
  backend/src/main/java/org/wcci/cardsagainststupidity/Populator.java
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/CardController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/DeckController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/TopicController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Deck.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/CardJPA.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/CardStorage.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/DeckJPA.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/DeckStorage.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/TopicJPA.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/TopicStorage.java
  backend/src/test/java/org/wcci/cardsagainststupidity/JPAWiringTest.java
  backend/src/test/java/org/wcci/cardsagainststupidity/SmokeTest.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/CardControllerTests.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/DeckControllerTests.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/TopicControllerTests.java
Labels: back end crud, enhancement

#50 Added Eclipse to .gitignore
  .gitignore
Labels: enhancement

#52 Topic JSON fix (again)
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
Labels: back end crud, bug, enhancement

#58 Account system
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/UserController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/User.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/UserJPA.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/UserStorage.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/repositories/UserRepository.java
  backend/src/main/java/org/wcci/cardsagainststupidity/validator/UserValidator.java
  backend/src/main/resources/validation.properties
Labels: back end crud, enhancement

#61 User put mapping
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/UserController.java
Labels: back end crud, enhancement

#60 0407 deckview aks
  frontend/decks-view.html
  frontend/src/assets/style.css
Labels: all decks, frontend

#65 Deck creator
  frontend/src/assets/js/deck-creator.js
Labels: all decks, enhancement, frontend, single deck

#64 Added default user
  backend/src/main/java/org/wcci/cardsagainststupidity/Populator.java
Labels: enhancement

#69 UserController tests and fixes
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/UserController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Deck.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/UserControllerTests.java
Labels: back end crud, enhancement

#71 0409 more views aks
  frontend/edit-deck.html
  frontend/src/assets/js/layout.js
  frontend/src/assets/style.css
Labels: front end crud

#72 Front end
  frontend/all-topics.html
  frontend/decks-view.html
  frontend/edit-deck.html
  frontend/just-decks.html
  frontend/login.html
  frontend/src/assets/js/deck-creator.js
  frontend/src/assets/js/layout.js
  frontend/src/assets/js/single-card.js
  frontend/src/assets/js/sketch1.js
  frontend/src/assets/js/study-mode.js
  frontend/src/assets/style.css
  frontend/src/images/RAMlogo.png
  frontend/study-view.html
  frontend/timer.html
  frontend/working-nav.html
Labels: front end crud, frontend

#70 Backend
  .gitignore
  backend/src/main/java/org/wcci/cardsagainststupidity/Populator.java
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/UserController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Deck.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/User.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/UserJPA.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/UserStorage.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/repositories/UserRepository.java
  backend/src/main/java/org/wcci/cardsagainststupidity/validator/UserValidator.java
  backend/src/main/resources/validation.properties
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/UserControllerTests.java
Labels: back end crud, enhancement

#75 Adding fetch for deck
  backend/src/main/java/org/wcci/cardsagainststupidity/CorsConfig.java
  frontend/all-topics.html
  frontend/decks-view.html
  frontend/src/assets/js/deck-creator.js
  frontend/src/assets/js/post-requests.js
  frontend/src/assets/style.css
Labels: frontend

#76 Fixed deck controller and tests
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/DeckController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/DeckControllerTests.java
Labels: back end crud, bug

#84 0410 deck fetching cont
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/DeckController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Deck.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/DeckControllerTests.java
  frontend/all-topics.html
  frontend/decks-view.html
  frontend/edit-deck.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/app.js
  frontend/src/assets/js/builders/card-creator.js
  frontend/src/assets/js/builders/deck-creator.js
  frontend/src/assets/js/builders/topic-creator.js
  frontend/src/assets/js/post-requests.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/js/sketch1.js
Labels: frontend, question

#86 fixed the file structures
  frontend/decks-view.html
  frontend/html-resources/just-decks.html
  frontend/html-resources/sketch.html
  frontend/html-resources/timer.html
  frontend/html-resources/working-nav.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/builders/deck-creator.js
  frontend/src/assets/js/render-views.js
Labels: file structure

#85 Top nav
  frontend/all-topics.html
  frontend/decks-view.html
  frontend/login.html
  frontend/nav-view.html
  frontend/src/assets/style.css
  frontend/study-view.html
Labels: log in functionality

#90 Login script
  frontend/login.html
  frontend/src/assets/js/app.js
  frontend/src/assets/js/login.js
Labels: log in functionality

#88 0411 decks json
  frontend/decks-view.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/builders/deck-creator.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/style.css
Labels: frontend

#98 Creating app js
  frontend/index.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/app.js
  frontend/src/assets/js/builders/card-creator.js
  frontend/src/assets/js/builders/deck-creator.js
  frontend/src/assets/js/builders/edit-deck-builder.js
  frontend/src/assets/js/layout.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/js/study-mode.js
  frontend/study-view.html
Labels: front end crud

#99 0413 app.js work
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/DeckController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/TopicController.java
  frontend/all-topics.html
  frontend/edit-deck.html
  frontend/index.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/app.js
  frontend/src/assets/js/builders/edit-deck-builder.js
  frontend/src/assets/js/builders/topic-creator.js
  frontend/src/assets/js/data-table.js
  frontend/src/assets/js/layout.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/style.css
Labels: App.js, front end crud, frontend

#104 Backend
  backend/src/main/java/org/wcci/cardsagainststupidity/CorsConfig.java
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/DeckController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/TopicController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Deck.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/DeckControllerTests.java
  backend/src/test/java/org/wcci/cardsagainststupidity/controllers/TopicControllerTests.java
  frontend/all-topics.html
  frontend/decks-view.html
  frontend/src/assets/js/deck-creator.js
  frontend/src/assets/js/post-requests.js
  frontend/src/assets/style.css
Labels: back end crud, enhancement

#106 Adding card fixed
  frontend/html-resources/timer.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/builders/deck-creator.js
  frontend/src/assets/js/builders/edit-deck-builder.js
  frontend/src/assets/js/builders/timer-builder.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/js/study-mode.js
  frontend/src/assets/js/timer.js
  frontend/src/assets/style.css
Labels: front end crud, single card, single deck

#107 editing deck and editing cards works well
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/DeckController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  frontend/edit-deck.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/builders/edit-deck-builder.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/style.css
Labels: App.js, front end crud, frontend

#111 Renderiing all views
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/TopicJPA.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/TopicStorage.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/repositories/TopicRepository.java
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/app.js
  frontend/src/assets/js/builders/edit-deck-builder.js
  frontend/src/assets/js/builders/timer-builder.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/style.css
Labels: App.js, back end crud, enhancement, front end crud, frontend, sidebar, single card, single deck, study mode

#113 fixed home nav and app.js
  frontend/index.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/layout.js
  frontend/src/assets/js/timer.js
  frontend/src/assets/style.css
Labels: frontend

#121 0415 finishing views aks
  frontend/src/assets/js/app.js
  frontend/src/assets/js/builders/nav-builder.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/style.css
  frontend/topnav.html
Labels: nav, users

#122 About Us and Stuff
  frontend/all-topics.html
  frontend/index.html
  frontend/login.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/app.js
  frontend/src/assets/js/builders/about.js
  frontend/src/assets/js/builders/card-creator.js
  frontend/src/assets/js/builders/deck-creator.js
  frontend/src/assets/js/builders/edit-deck-builder.js
  frontend/src/assets/js/builders/login-builder.js
  frontend/src/assets/js/builders/nav-builder.js
  frontend/src/assets/js/layout.js
  frontend/src/assets/js/login.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/js/study-mode.js
  frontend/src/assets/style.css
Labels: frontend

#127 Removed login check
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/UserController.java
Labels: back end crud, bug, enhancement

#129 timerAndStudy
  frontend/index.html
  frontend/src/assets/js/builders/login-builder.js
  frontend/src/assets/js/builders/timer-builder.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/js/study-mode.js
  frontend/src/assets/js/timer.js
  frontend/src/assets/style.css
  frontend/src/images/icon-a.png
  frontend/src/images/icon-d.png
  frontend/src/images/icon-f.png
  frontend/src/images/icon-left.png
  frontend/src/images/icon-right.png
  frontend/src/images/icon-s.png
Labels: frontend

#126 Front end
  backend/src/main/java/org/wcci/cardsagainststupidity/controllers/DeckController.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Card.java
  backend/src/main/java/org/wcci/cardsagainststupidity/models/Topic.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/TopicJPA.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/TopicStorage.java
  backend/src/main/java/org/wcci/cardsagainststupidity/storage/repositories/TopicRepository.java
  frontend/all-topics.html
  frontend/edit-deck.html
  frontend/html-resources/timer.html
  frontend/index.html
  frontend/login.html
  frontend/src/assets/js/all-crud.js
  frontend/src/assets/js/app.js
  frontend/src/assets/js/builders/about.js
  frontend/src/assets/js/builders/card-creator.js
  frontend/src/assets/js/builders/deck-creator.js
  frontend/src/assets/js/builders/edit-deck-builder.js
  frontend/src/assets/js/builders/login-builder.js
  frontend/src/assets/js/builders/nav-builder.js
  frontend/src/assets/js/builders/timer-builder.js
  frontend/src/assets/js/builders/topic-creator.js
  frontend/src/assets/js/layout.js
  frontend/src/assets/js/login.js
  frontend/src/assets/js/render-views.js
  frontend/src/assets/js/study-mode.js
  frontend/src/assets/js/timer.js
  frontend/src/assets/style.css
  frontend/src/images/icon-a.png
  frontend/src/images/icon-d.png
  frontend/src/images/icon-f.png
  frontend/src/images/icon-left.png
  frontend/src/images/icon-right.png
  frontend/src/images/icon-s.png
  frontend/topnav.html
Labels: frontend

#130 4 19 about us
  .vscode/settings.json
  frontend/src/assets/js/builders/about.js
  frontend/src/assets/style.css
Labels: enhancement, frontend
